dspy_ai==2.4.9
wikipedia==1.4.0
sentence_transformers
toml
langchain-text-splitters
trafilatura
langchain-huggingface
qdrant-client
langchain-qdrant
numpy==1.26.4
streamlit==1.22.0
markdown==3.4.3
lxml_html_clean